<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Smart Factory</title>
	<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
	
	<!-- jquery and bootstrap 
	<script src="js/jquery.min.js" type="text/javascript"></script>
	<script src="/js/bootstrap.min.js" type="text/javascript"></script>
	<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	-->
	
	<!-- Dashboard -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js" type="text/javascript"></script>
  	<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

	<link rel="stylesheet" type="text/css" href="/static/css/keen-dashboards.css" />
	
	<!-- xlsx -->
	<script lang="javascript" src="js/shim.min.js"></script>
	<script lang="javascript" src="js/xlsx.full.min.js"></script>
		
	<!-- sweetalert2 -->
	<script lang="javascript" src="js/sweetalert2.all.min.js"></script>
	<link rel="stylesheet" href="css/sweetalert2.min.css">
	
	<!-- Load D3.js -->
	<script src="https://d3js.org/d3.v4.min.js"></script>

	<!-- Load billboard.js with style -->
	<script src="/static/js/billboard.js"></script>
	<link rel="stylesheet" href="/static/css/billboard.css">
	
	
	<script src="static/js/jquery.redirect.js" type="text/javascript"></script>
	
	<style type="text/css">
		table, td, th, tr{
			text-align: center;
			vertical-align: middle !important;
			border: 1px solid #d6d6d6;
			table-layout: fixed;
		}
		.glyphicon-remove {
			color: red;
		}
		.glyphicon-ok {
			color: green;
		}
		.itemName {
			background-color: lightblue;
		}
		ul{
		   list-style:none;
		   padding-left: 15px;
	    }
	    .history {
	    	overflow: auto;
	    }
	    .addHistory {
	    	overflow: auto;
	    }
	    .hour, .last, .machine {
	    	
	    }
	    td, th, tr{
	    	height: 30px;
	    	min-width: 8px; 
		}
	    div.work {
	    	z-index: 1;
	    	position: absolute;
	    	overflow: hidden;
	    	box-sizing: border-box;
	    	border: 0px solid black;
	    	height: 30.4px;
	    	text-align: center;
	    }
	    #XAxisTickPosition .bb-axis-x line, #XAxisTickPosition .bb-axis-x path { visibility: hidden; }
	</style>
</head>
<body class="keen-dashboard" style="padding-top: 80px;">
	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-collapse">
					<span class="sr-only"></span> 
					<span class="icon-bar"></span> <span class="icon-bar"></span> 
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="../"> 
					<span class="glyphicon glyphicon-chevron-left"></span>
				</a> 
				<a class="navbar-brand" href="./input">작업 계획 확인</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-left">
					<!-- 여기에 각 그래프 목록들  -->
					<<!-- li><a href="./machine">기계별 작업 계획</a></li> -->
				</ul>
			</div>
		</div>
	</div>

	<div class="modal history">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
    				<div class="modal-title">
     					<h3>작업 계획 기록</h3>
     				</div>
     			</div>
     			<div class="modal-body">
     				<div class="chart-stage hidden" id="historyListDiv">
						<table class="table table-bordered table-hover" id="historyList">
							<thead>
								<tr>
									<th>작업 계획 기록 파일명</th>
								</tr>
							</thead>
						</table>
					</div>
     				<table class="table table-bordered table-striped" id="history">
					</table>
     			</div>
     			<div class="modal-footer">
     				<button type="button" class="btn btn-primary" id="showHistoryBtn" style="float:left; margin-bottom: 10px;" onclick="showHistory()">작업 계획 기록 목록 갱신</button>
     				<button type="button" class="btn btn-primary" id="showModalAddHistoryBtn" style="float:left; margin-bottom: 10px;" onclick="showModalAddHistory()">작업 계획 기록 추가</button>
     				<button type="button" class="btn btn-primary hidden" id="visualizeBtn" style="margin-bottom: 10px;" onclick="visualize()">시각화</button>
     				<button type="button" class="btn btn-primary" id="closeHistoryBtn" style="margin-bottom: 10px;" onclick="closeHistory()">취소</button>
     			</div>
			</div>
		</div>
	</div>
	
	<div class="modal addHistory">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
    				<div class="modal-title">
     					<h3>작업 계획 기록 추가</h3>
     				</div>
     			</div>
     			<div class="modal-body">
					<input class="hidden" type="file" name="xlfile" id="xlf" />
					<div class="hidden" id="out"></div>
					
					<div class="chart-stage hidden" id="workDiv">
						<table class="table table-bordered table-striped" id="work">
						</table>
					</div>
    				
     			</div>
     			<div class="modal-footer">
					<button type="button" class="btn btn-primary" id="replaceBtn1" style="margin-top: 10px; margin-bottom: 10px;" onclick="clickFileInput()">파일 선택 </button>
					<p style="display: inline-block;" id="replaceFileName1">선택된 파일 없음</p>
					<button type="button" class="btn btn-primary hidden" id="addHistoryBtn" style="margin-bottom: 5px;" onclick="addHistory()">기록 추가</button>     				
     				<button type="button" class="btn btn-primary" id="closeAddHistoryBtn" style="margin-bottom: 5px;" onclick="closeAddHistory()">취소</button>
     			</div>
			</div>
		</div>
	</div>
	
	<ul>
		<li>
			<button type="button" class="btn btn-primary" id="selectHistoryBtn" style="margin-bottom: 10px;" onclick="selectHistory()">작업 계획 선택</button>
		</li>
	</ul>
	
	<div class="container-fluid" id="containerChart">
		
		<div class="row">
			<div class="col-sm-12">
				<div class="chart-wrapper">
					<div class="chart-title">하루 작업 계획</div>
					
					<div class="chart-stage">
						<div id="chart-stage">
							<div id="dayWorkTableHead" class="hidden"> 
								<table class="table"" id="hourHead">
									<tbody>
										<tr class="hours" >
											<th class="last" colspan="3"> </th>
											<td class="hour" colspan="6">0시</td>
											<td class="hour" colspan="6">1:00</td>
											<td class="hour" colspan="6">2:00</td>
											<td class="hour" colspan="6">3:00</td>
											<td class="hour" colspan="6">4:00</td>
											<td class="hour" colspan="6">5:00</td>
											<td class="hour" colspan="6">6:00</td>
											<td class="hour" colspan="6">7:00</td>
											<td class="hour" colspan="6">8:00</td>
											<td class="hour" colspan="6">9:00</td>
											<td class="hour" colspan="6">10:00</td>
											<td class="hour" colspan="6">11:00</td>
											<td class="hour" colspan="6">12:00</td>
											<td class="hour" colspan="6">13:00</td>
											<td class="hour" colspan="6">14:00</td>
											<td class="hour" colspan="6">15:00</td>
											<td class="hour" colspan="6">16:00</td>
											<td class="hour" colspan="6">17:00</td>
											<td class="hour" colspan="6">18:00</td>
											<td class="hour" colspan="6">19:00</td>
											<td class="hour" colspan="6">20:00</td>
											<td class="hour" colspan="6">21:00</td>
											<td class="hour" colspan="6">22:00</td>
											<td class="hour" colspan="6">23:00</td>
											<td class="hour" colspan="6">24:00</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="dayWorkTableToolTip" style="position: absolute; display:none;">
								<table>
									<tbody>
										<tr class="toolTipTitle" colspan="2">
										</tr>
										<tr class="toolTipItemName">
											<td class="name">품목명</td>
											<td class="value"></td>
										</tr>
										<tr class="toolTipProcessNum">
											<td class="name">공정번호</td>
											<td class="value"></td>
										</tr>
										<tr class="toolTip">
											<td class="name">배정기계</td>
											<td class="value"></td>
										</tr>
										<tr class="toolTip">
											<td class="name">시작시간</td>
											<td class="value"></td>
										</tr>
										<tr class="toolTip">
											<td class="name">종료시간</td>
											<td class="value"></td>
										</tr>
										<tr class="toolTip">
											<td class="name">공정시간(분)</td>
											<td class="value"></td>
										</tr>
										<tr class="toolTip">
											<td class="name">재셋팅시간(분)</td>
											<td class="value"></td>
										</tr>
										<tr class="toolTip">
											<td class="name">주문자</td>
											<td class="value"></td>
										</tr>
										<tr class="toolTip">
											<td class="name">주문수량</td>
											<td class="value"></td>
										</tr>
										
									</tbody>
								</table>								
							</div>
						</div>
					 <div class="chart-notes">24시간 동안의 각 기계들의 작업 계획</div>
				</div>
			</div>
			
		</div>

		<div class="row">
			<div class="col-sm-6 col-md-4">
				<div class="chart-wrapper">
					<div class="chart-title">Cell Title</div>
					<div class="chart-stage">
						<div id="XAxisTickPosition"></div>
					</div>
					<div class="chart-notes">Notes about this chart</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-4">
				<div class="chart-wrapper">
					<div class="chart-title">Cell Title</div>
					<div class="chart-stage">
						<img data-src="holder.js/100%x120/white">
					</div>
					<div class="chart-notes">Notes about this chart</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-4">
				<div class="chart-wrapper">
					<div class="chart-title">Cell Title</div>
					<div class="chart-stage">
						<img data-src="holder.js/100%x120/white">
					</div>
					<div class="chart-notes">Notes about this chart</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-4">
				<div class="chart-wrapper">
					<div class="chart-title">Cell Title</div>
					<div class="chart-stage">
						<img data-src="holder.js/100%x120/white">
					</div>
					<div class="chart-notes">Notes about this chart</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-4">
				<div class="chart-wrapper">
					<div class="chart-title">Cell Title</div>
					<div class="chart-stage">
						<img data-src="holder.js/100%x120/white">
					</div>
					<div class="chart-notes">Notes about this chart</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-4">
				<div class="chart-wrapper">
					<div class="chart-title">Cell Title</div>
					<div class="chart-stage">
						<img data-src="holder.js/100%x120/white">
					</div>
					<div class="chart-notes">Notes about this chart</div>
				</div>
			</div>
		</div>
		
				
	</div>
	<div class="container-fluid">
		<p class="small text-muted">
			Built by 팀추월
		</p>
	</div>

	<!-- script -->
	<script type="text/javascript">
	//data 재정의
	var data = {};
	var dataByMachine = {};
	var dataByOrder = {};
	var dataByItem = {};

	var jsonData = {};
	var resultList = [];
	var columnName = [];
	
	var makeDataByCondition = function() {		
		var resultList = jsonData.resultList;
		
		resultList.forEach(function(each) {
			var eachData = {};
			var eachArray = [];

			//data
			eachData = {};
			eachArray = [];
			eachData.itemName = each["품목명"];
			eachData.processNum = each["공정번호"];
			eachData.machine = each["배정기계"];
			eachData.startTime = each["시작시간"];
			eachData.endTime = each["종료시간"];
			eachData.processTime = each["공정시간"];
			eachData.resettingTime = each["재셋팅시간"];
			eachData.order = each["주문자"];
			eachData.count = each["주문수량"];
			
			data[each["주문번호"]] = eachData;
			if(!data.hasOwnProperty("numberList")) {
				data.numberList = eachArray;
			}
			data.numberList.push(each["주문번호"]);				
			
			//dataByMachine
			eachData = {};
			eachArray = [];
			eachData.itemName = each["품목명"];
			eachData.processNum = each["공정번호"];
			eachData.number = each["주문번호"];
			eachData.startTime = each["시작시간"];
			eachData.endTime = each["종료시간"];
			eachData.processTime = each["공정시간"];
			eachData.resettingTime = each["재셋팅시간"];
			eachData.order = each["주문자"];
			eachData.count = each["주문수량"];
			
			if(!dataByMachine.hasOwnProperty(each["배정기계"])){
				dataByMachine[each["배정기계"]] = eachArray;
			}
			dataByMachine[each["배정기계"]].push(eachData);

			if(!dataByMachine.hasOwnProperty("machineList")) {
				eachArray = [];
				dataByMachine.machineList = eachArray;
			}
			if(-1 == dataByMachine.machineList.indexOf(each["배정기계"])) {
				dataByMachine.machineList.push(each["배정기계"]);								
			}
			
			//dataByOrder
			eachData = {};
			eachArray = [];
			eachData.itemName = each["품목명"];
			eachData.processNum = each["공정번호"];
			eachData.number = each["주문번호"];
			eachData.startTime = each["시작시간"];
			eachData.endTime = each["종료시간"];
			eachData.processTime = each["공정시간"];
			eachData.resettingTime = each["재셋팅시간"];
			eachData.machine = each["배정기계"];
			eachData.count = each["주문수량"];
			
			if(!dataByOrder.hasOwnProperty(each["주문자"])){
				dataByOrder[each["주문자"]] = eachArray;
			}
			dataByOrder[each["주문자"]].push(eachData);

			if(!dataByOrder.hasOwnProperty("orderList")) {
				eachArray = [];
				dataByOrder.orderList = eachArray;
			}
			if(-1 == dataByOrder.orderList.indexOf(each["주문자"])) {
				dataByOrder.orderList.push(each["주문자"]);				
			}
			
			//dataByItem
			eachData = {};
			eachArray = [];
			eachData.order = each["주문자"];
			eachData.number = each["주문번호"];
			eachData.startTime = each["시작시간"];
			eachData.endTime = each["종료시간"];
			eachData.processTime = each["공정시간"];
			eachData.resettingTime = each["재셋팅시간"];
			eachData.machine = each["배정기계"];
			eachData.count = each["주문수량"];

			if(dataByItem.hasOwnProperty(each["품목명"])){
				if(!dataByItem[each["품목명"]].hasOwnProperty(each["공정번호"])){
					dataByItem[each["품목명"]][each["공정번호"]] = eachArray;
				}	
				dataByItem[each["품목명"]][each["공정번호"]].push(eachData);
			}
			else {
				eachArray.push(eachData);
				var tempJson = {};
				tempJson[each["공정번호"]] = eachArray; 
				dataByItem[each["품목명"]] = tempJson;
			}

			if(!dataByItem.hasOwnProperty("itemList")) {
				eachArray = [];
				dataByItem.itemList = eachArray;
			}
			if(-1 == dataByItem.itemList.indexOf(each["품목명"])) {
				dataByItem.itemList.push(each["품목명"]);				
			}
			
			if(!dataByItem[each["품목명"]].hasOwnProperty("processNumList")) {
				eachArray = [];
				dataByItem[each["품목명"]].processNumList = eachArray; 
			}
			if(-1 == dataByItem[each["품목명"]].processNumList.indexOf(each["공정번호"])) {
				dataByItem[each["품목명"]].processNumList.push(each["공정번호"]);
			}
		});
		
		//sort
		data.numberList.sort();
		dataByMachine.machineList.sort();
		dataByOrder.orderList.sort();
		dataByItem.itemList.sort();
		
		console.log(data);
		console.log(dataByMachine);
		console.log(dataByOrder);
		console.log(dataByItem);
	}
			
	var callToolTip = function(itemName, processNum, machineNum, startTime, endTime, processTime, resettingTime, order, count) {
		//dayWorkTableToolTip
		alert("dd");
	}
	
	var createDayWorkTable = function() {
		workArray = [];
		var gs = $("#XAxisTickPosition").children("svg").children("g");
		
		var gLast = $(gs[1]).children("g");
		var lines = gLast.find("line");
		
		//work 생성
		for(var i = 0; i < lines.length; i++) {
			var work = {};

			work.text = i+1;
			work.color = $(lines[i]).css("stroke");
			work.machineNum = data[i+1].machine;
			work.time = data[i+1].processTime; 

			workArray.push(work);
		}
		//기계별로 작업 분배
		var workMahcineArray = [];
		for(var i = 0;  i < dataByMachine.machineList.length; i++) {
			var temp = [];
			workMahcineArray.push(temp);
		}

		workArray.forEach(function(work) {
			workMahcineArray[dataByMachine.machineList.indexOf(work.machineNum)].push(work);
		});

		var curTime = 0;
		
		//1110 => 11시 10분
		for(var i = 0; i < dataByMachine.machineList.length; i++) {
			var tbody = $("#hourHead").children("tbody");
			
			var grids = $("<tr/>", {
				class: "grids"
			});
			var th = $("<th/>", {
				class: "machine",
				text: dataByMachine.machineList[i],
				colspan: 6
			});
			grids.append(th);
			
			//work
			var totalWorkTime = 0;
			workMahcineArray[i].forEach(function(work) {
				var timeTenMinutes = work.time / 10; 
				var tdWork = $("<td/>", {
					class: "work",
					text: work.text,
					colspan: timeTenMinutes,
					onmouseenter: "callToolTip()"
				});
				tdWork.css({
					'background-color': work.color
				});
				grids.append(tdWork);
				
				totalWorkTime += timeTenMinutes;
			});
			console.log(totalWorkTime);
			
			for(var j = 1; j <= ((24 * 6) - totalWorkTime) % 6; j++) {
				var td = $("<td/>", {
					class: "grid"
				});
				grids.append(td);				
			}
			console.log(((24 * 6) - totalWorkTime) / 6);
			for(var j = 1; j <= ((24 * 6) - totalWorkTime) / 6; j++) {
				console.log(j);
				var td = $("<td/>", {
					class: "last",
					colspan: 6
				});
				grids.append(td);
			}
			//work end
			
			var last = $("<th/>", {
				class: "last",
				colspan: 3
			});
			grids.append(last);
			tbody.append(grids);
		
		}		
	}
	
	var destroyDayWorkTable = function() {
		$("div.work").remove();
		$(".grids").remove();
		
	} 
	
	var makeDayWorkTable = function() {
		destroyDayWorkTable();
		//grid
		createDayWorkTable();
		
		
		$("#dayWorkTableHead").removeClass("hidden");
	}
	
	
	// chart start
	var makeDayWorkChart = function() {
		//필요한 data 새로 만들기
		var dayWorkData = [];
		var machineArray = [];
		var dayWorkData = [];
		var group = [];
		
		//machine array
		var machineArrayMap = new Map();
		//group array
		
		resultList.forEach(function(json) {
			if(!machineArrayMap.has(json[columnName[2]])) {
				machineArrayMap.set(json[columnName[2]], true);
				machineArray.push(json[columnName[2]]);
			}
			
			group.push(json[columnName[0]] + json[columnName[1]]);
			
		});
		machineArray.sort();
		machineArray.unshift('x');
		
		dayWorkData.push(machineArray);
		resultList.forEach(function(json) {
			var tempArray = [];
			tempArray.push(json[columnName[0]] + json[columnName[1]]);
			machineArray.forEach(function(machine) {
				if(machine == 'x') {
					
				}
				else if(machine == json[columnName[2]]) {
					tempArray.push(parseInt(json[columnName[5]]) + parseInt(json[columnName[6]]));
				}
				else {
					tempArray.push(null);
				}
			});
			dayWorkData.push(tempArray);
		});
		
		var chart = bb.generate({
			  data: {
			    x: "x",
			    columns: dayWorkData,
			    type: "bar",
			    groups: [
			      group
			    ]
			  },
			  axis: {
				  rotated: true,
			    x: {
			      type: "category",
			      clipPath: false,
			      inner: false
			    },
			    y: {
			      show: true,
			    }
			  },
			  grid: {
				y: {
					show: true
				}  
			  },
			  bindto: "#XAxisTickPosition"
			});
	}
	
	var visualize = function() {
		closeHistory();
		
		//data 생성
		makeDataByCondition();
		
		//시각화 차트들 다 갱신
 		makeDayWorkChart();
		makeDayWorkTable();
 		
		
	}
	// chart end
		
	var showModalAddHistory = function() {
		$(".modal.addHistory").modal({backdrop: 'static', keyboard: false});
	}
	var closeAddHistory = function() {
		$("#work").find("thead").remove();
		$("#work").find("tbody").remove();
		$("#workDiv").removeClass("hidden");

		$(".modal.addHistory").modal('toggle');
	}
	var selectHistory = function() {
		$(".modal.history").modal({backdrop: 'static', keyboard: false});
	}
	var closeHistory = function() {
		$("#visualizeBtn").addClass("hidden");
		$("#historyListDiv").addClass('hidden');
 		$("#historyList").find("tbody").remove();
 		$("#history").find("thead").remove();
		$("#history").find("tbody").remove();
		
		
		$(".modal.history").modal('toggle');
	}
	var callHistory = function(fileName) {
		$("#history").find("thead").remove();
		$("#history").find("tbody").remove();
		
		$.ajax({
			url: "/callHistory",
			type: "POST",
			dataType: "JSON",
			data: {fileName: fileName},
			complete: function(response) {
				jsonData = response.responseJSON;
				resultList = response.responseJSON.resultList;
				columnName = response.responseJSON.columnName;
				
				
				var thead = $("<thead/>");
				var theadTr = $("<tr/>");
				
				columnName.forEach(function(name) {
					var th = $("<th/>", {
						text: name
					});
					theadTr.append(th);
				});
				thead.append(theadTr);
				$("#history").append(thead);

				var tbody = $("<tbody/>");
				resultList.forEach(function(work) {
					var tr = $("<tr/>");
					columnName.forEach(function(name) {
						var td = $("<td/>", {
							text: work[name]
						})
						tr.append(td);
					});
					tbody.append(tr);
				});
				$("#history").append(tbody);
				
				$("#historyDiv").removeClass("hidden");
				
				$("#visualizeBtn").removeClass("hidden");

			}
		});
	}
	
	var addHistory = function() {
		var date = new Date();
		var fileName = date.getFullYear().toString() + (date.getMonth() + 1).toString() + date.getDate().toString() 
			+ "_" + date.getHours().toString() + date.getMinutes().toString() + date.getSeconds().toString();

		$.ajax({
			url: "/addHistory",
			type: "POST",
			dataType: "JSON",
			data: {resultList: jsonData, fileName: fileName},
			success: function(response) {
				swal(response.success, "작업 계획이 기록되었습니다.", "success");
				closeAddHistory();
			}, error: function(reqeuse, status, error) {
				swal(response.error, "기록에 실패하였습니다. 다시 시도해 주십시오.", "error")
			}
		});
		
	}
 	var showHistory = function() {
 		//table 초기화
 		
 		
 		$("#historyListDiv").addClass('hidden');
 		$("#historyList").find("tbody").remove();
 		$("#history").find("thead").remove();
		$("#history").find("tbody").remove();
		
 		$.ajax({
			url: "/readHistoryList",
			type: "POST",
			dataType: "JSON",
			complete: function(response) {
				var array = response.responseJSON.fileNames;				
				
				var tbody = $("<tbody/>");
				
				array.forEach(function(fileName) {
					var tr = $("<tr/>");
					var td = $("<td/>", {
						text: fileName
					});
					
					td.attr('onClick', 'callHistory($(this).text())');
					
					tr.append(td);
					tbody.append(tr);
				})
				$("#historyList").append(tbody);
				
				$("#historyListDiv").removeClass('hidden');
				
			}
		});
	} 
	
	var clickFileInput = function() {
		$('input[name="xlfile"]').click();
	}	

	var fillTableWork = function(result_list) {
		jsonData = {};
		console.log(jsonData);
		
		var addressNum = 1;
		var addressAlpabet = 65; // A
		var address = String.fromCharCode(addressAlpabet) + addressNum;
		
		var table = $("#work");
		
		var thead = $("<thead/>");
		var tr = $("<tr/>", {
			class: "workTableHead"
		});
		
		//json
		var columnName = [];
		var resultList = [];
		
		while(result_list[address] != undefined) {
			var th = $("<th/>", {
				text: result_list[address].w
			});
			tr.append(th);
			
			//json
			columnName.push(result_list[address].w);
			
			addressAlpabet++;
			address = String.fromCharCode(addressAlpabet) + addressNum;
		}
		thead.append(tr);
		table.append(thead);
		
		var tbody = $("<tbody/>");
		
		addressNum++;
		addressAlpabet = 65;
		address = String.fromCharCode(addressAlpabet) + addressNum;
		
		while(result_list[address] != undefined) {
			var tr = $("<tr/>");
			
			//json
			var columnNum = 0;
			var row = {};
			
			while(result_list[address] != undefined) {
				var td = $("<td/>", {
					text: result_list[address].w
				});
				
				//json
				row[columnName[columnNum]] = result_list[address].w; 
				columnNum++;
				
				tr.append(td);
				addressAlpabet++;
				address = String.fromCharCode(addressAlpabet) + addressNum;
				
			}
			//json
			resultList.push(row);
			
			tbody.append(tr);
			
			addressNum++;
			addressAlpabet = 65;
			address = String.fromCharCode(addressAlpabet) + addressNum;
		}
		
		//json
		jsonData.resultList = resultList;
		jsonData.columnName = columnName;
		
		table.append(tbody);
	}
	
	var X = XLSX;
	var XW = {
		/* worker message */
		msg: 'xlsx',
		/* worker scripts */
		worker: 'js/xlsxworker.js'
	};
	
	var global_wb;
	
	var process_wb = (function() {
		var OUT = document.getElementById('out');
		
		var get_format = (function() {
			var radios = document.getElementsByName( "format" );
			return function() {
				for(var i = 0; i < radios.length; ++i) if(radios[i].checked || radios.length === 1) return radios[i].value;
			};
		})();
	
		var to_json = function to_json(workbook) {
			var result = {};
			workbook.SheetNames.forEach(function(sheetName) {
				var roa = X.utils.sheet_to_json(workbook.Sheets[sheetName], {header:1});
				if(roa.length) result[sheetName] = roa;
			});
			return JSON.stringify(result, 2, 2);
		};
	
		var to_csv = function to_csv(workbook) {
			var result = [];
			workbook.SheetNames.forEach(function(sheetName) {
				var csv = X.utils.sheet_to_csv(workbook.Sheets[sheetName]);
				if(csv.length){
					result.push("SHEET: " + sheetName);
					result.push("");
					result.push(csv);
				}
			});
			return result.join("\n");
		};
	
		var to_fmla = function to_fmla(workbook) {
			var result = [];
			workbook.SheetNames.forEach(function(sheetName) {
				var formulae = X.utils.get_formulae(workbook.Sheets[sheetName]);
				if(formulae.length){
					result.push("SHEET: " + sheetName);
					result.push("");
					result.push(formulae.join("\n"));
				}
			});
			return result.join("\n");
		};
	
		
		return function process_wb(wb) {
			global_wb = wb;
			var output = "";
			switch(get_format()) {
				case "form": output = to_fmla(wb); break;
				case "html": output = to_html(wb); break;
				case "json": output = to_json(wb); break;
				default: output = to_csv(wb);
			}
			if(OUT.innerText === undefined) OUT.textContent = output;
			else OUT.innerText = output;
			if(typeof console !== 'undefined') console.log("output", new Date());
		};
	})();
	
	
	
	var do_file = (function() {
		var rABS = typeof FileReader !== "undefined" && (FileReader.prototype||{}).readAsBinaryString;
		var domrabsChecked = true;
		var use_worker = typeof Worker !== 'undefined';
		var domworkChecked = true;
	
		var xw = function xw(data, cb) {
			
			var worker = new Worker(XW.worker);
			worker.onmessage = function(e) {
				switch(e.data.t) {
					case 'ready': break;
					case 'e': console.error(e.data.d); break;
					case XW.msg: 
						cb(JSON.parse(e.data.d));
						console.log(JSON.parse(e.data.d));
						//this is data
						fillTableWork(JSON.parse(e.data.d).Sheets.result_list);
						
						
						var obj_s = JSON.stringify(JSON.parse(e.data.d), null, "\t");

			            var dataUri = "data:application/json;charset=utf-8,"+ encodeURIComponent(obj_s);
        			    var link = $("#link").attr("href", dataUri);

						swal("Excel 읽기 완료!", "아래 표에서 데이터를 확인하고 기록 추가 버튼을 눌려주세요.", "success")
						
						$("#addHistoryBtn").removeClass("hidden");
						$("#workDiv").removeClass("hidden");
						break;
				}	
			};
			worker.postMessage({d:data,b:rABS?'binary':'array'});
		};
	
		return function do_file(files) {
			rABS = domrabsChecked;
			use_worker = domworkChecked;
			var f = files[0];
			var reader = new FileReader();
			reader.onload = function(e) {
				if(typeof console !== 'undefined') console.log("onload", new Date(), rABS, use_worker);
				var data = e.target.result;
				if(!rABS) data = new Uint8Array(data);
				if(use_worker) xw(data, process_wb);
				else process_wb(X.read(data, {type: rABS ? 'binary' : 'array'}));
			};
			if(rABS) reader.readAsBinaryString(f);
			else reader.readAsArrayBuffer(f);
		};
	})();
	
	(function() {
		var xlf = document.getElementById('xlf');
		if(!xlf.addEventListener) return;
		function handleFile(e) { 
			//loading 표시
			swal({
				title: 'Loading...',
				imageUrl: 'static/img/loading.gif',
				imageSize: '400x400',
				imageAlt: 'Custom image',
				animation: false
			});
			
			//file name 표시.
			$('p#replaceFileName1').text(e.target.files[0].name);
			
			//file 선택 후 replaceBtn에 선택된 파일 이름 표기 및 버튼 색상 변경
			$('button#replaceBtn1').text(e.target.files.name)
			
			do_file(e.target.files); 
		}
		xlf.addEventListener('change', handleFile, false);
	})();
	
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-36810333-1']);
	_gaq.push(['_trackPageview']);
	
	</script>
</body>
</html>